/* Setting up the main defaults of the page */
html,body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin: 0;
    padding: 0;
    line-height: 32px;
    height: 100%;
}

/* Adding flavor to the webpage */
body {
    background-image: url("../images/hex.png");
}

/* Where my name and the navigation bar resides */
header {
    width: 100%;
    height: 90px;
    top: 0;
    position: fixed;
    z-index: 1000;
    background-color: #fff;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #ccc;
    margin-bottom: 30px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
  position: relative;
}

header .container {
    width: 100%;
    
}

/* For the page titles */
h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #E5E5E5;
}


/* Adjusting size of the contents within my header to match my main content */
.heading {
    width: 960px;
    margin: 0 auto;
}

/* The styling for my name */
#logo {
    float: left;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
  }

/* My Navigation Bar */
/* I used #E5E5E5 instead of #7777772d since it's compatible with my other browsers*/
/* Had to use an id instead of the nav tag since the colors didn't seem to change when using the tag */
#Nav {
    color: #E5E5E5;
    font-size: 20px;
    float: right;
    margin: 30px 0;
    right: 0;
}

/* Editing the links to not have underlines, and made them darker than the | separators */
#Nav a {
    color: #777777; /* Would rather use #B4B4B4 */
    text-decoration: none;
    padding: 0 7px;
}

/* Just to add a nice design under the anchors */
#Nav a:hover {
    border-bottom-style: solid; 
    border-bottom-color: #4AC199;
}

/* To keep the border design under the anchor resembling the current page */
#currentPage {
    border-bottom-style: solid; 
    border-bottom-color: #4AC199;
}

/* Designing and sizing of the background for the main content */
#contentHolder {
    padding-top: 130px;
}

/* Setting up the boundaries of the main content and adding the border design udner the heading*/
.content {
    /* float: left; */
    width: 100%;
    max-width: 960px;
    padding: 20px;
    background: #fff;
    border-style: solid;
    border-width: thin;
    border-color: #ccc;
    box-sizing: border-box;
}

/* Individual headnigs for each page */
/* Used margin-bottom to provide a nice amount of spacing between the heading and the content */
h2 {
    margin-bottom: 5px;
}

/* About Page */
/* Margin used to align picture with text while float was used to wrap the text around the image */
#profilePic {
    float: left;
    margin-right: 25px;
    margin-top: 7px;
    box-shadow: 0 0 5px 5px #E5E5E5;
}

/* Making sure the p tag sticks towards the top of the content */
.content p {
    margin-top: 0;
}

/* Portfolio Page */

/* Used for setting up the default design for the gallery navigation of my portfolio */
.images {
    height: 150px;
    width: 250px;
    margin-bottom: 30px;
    display: inline-block;
    /* float: left; */
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0;
    margin-right: 40px;
}

/* Used to give an overlay/button type of effect to the gallery so viewers will know they're accessible */
.images:hover {
    cursor: pointer;
    box-shadow: 0 0 3px 2px #4AC199;
}

/* Changed the background of the text to stand out from the non-hovered items */
.images:hover .imageLabel {
    background-color: #4AC199;
    opacity: 0.7;
}

.images:hover .fading {
    opacity: 0.5;
}

/* The smaller width causes the images to be in columns of two */
/* The overflow is set to auto to allow the main content's background to include the gallery */
.imageContainer {
    width: 70%;
    overflow: auto;
    padding: 3px 0 0 3px;
}

.images:nth-child(even) {
    margin-right: 0;
}

/* Attempting to make my own carousel */
.fading {
    position: relative;
    z-index: 5;
    transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5 ease-in-out;
}

.fadeEffect {
    z-index: 0;
    position: absolute;
    bottom: 0px;
    opacity: 1;
}

/* Designing the banner of text along the gallery thumnbnails */
.imageLabel {
    color: #fff;
    background: #4aaaa5;
    z-index: 100;
    text-align: center;
    position: relative;
    font-size: 20px;
    line-height: 40px;
    bottom: 60px;
    }


/* Contact Page */

form ul {
    list-style-type: none;
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 20px;
}

form li {
    margin-bottom: 10px;
}
/* Making sure the border of my inputs/textarea isn't too dark nor thick */


input[type="email"],input[type="text"],textarea {
    display: block;
    width: 100%;
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #E5E5E5;
    color: #777777;
}

/* Making sure the style stays the same and adding effects to other browsers */
textarea:focus, input:focus {
    color: #777777;
    border-color: #4AC199;
}
/* Making sure the text area has a nice default size for aesthetic purposes
and because that's how the homework example looks.
*/
/* Made it so the textarea can't be resized by people viewing the page */
textarea {
    height: 200px;
    resize: none;
}

/* Used 890 width instead of 100% to compensate for the 10px padding */
/* (100%=900px on my page) */
/* input {
    padding: 0 10px;
} */

/* Setting up the placeholder text color for the most popular browsers */
::placeholder {
    color: #E5E5E5;
}

::-webkit-input-placeholder {
    color: #E5E5E5;
}

:-ms-input-placeholder {
    color: #E5E5E5
}

/* Used to stylize the submit button, also used an id for when it's time to add javascript */
#submit {
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background: #4aaaa5;
    border: 0 none;
}

/* Added some hover effects to sprinkle in some extra style on the button */
#submit:hover {
    cursor: pointer;
    background-color: #4AC199;
}
    
/* Designs and placement for my page's footer */
.wrapper {
    position: relative;
    min-height: calc(100vh - 48px);
}

.footer {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: #777;
    border-top: 8px solid #4aaaa5;
    color: #fff;
    text-align: center;
    font-size: 9px;
  }

/* 
Window Size: 1073, 1160  
Content Size: 648, 478  
Whitespace left of name: 55,90 
*/

@media screen and (max-width: 980px) {
    header {
        padding: 0 20px;
    }

    header nav {
        padding-right: 40px;
    }

    .container {
        width: 100%;
        max-width: 960px;
    }

    #contentHolder {
        padding-right: 20px;
        padding-left: 20px;
        box-sizing: border-box;
    }

    content {
        width: 100%;
        padding: 0;        
    }

    .imageContainer {
        width: 100%;
        max-width: 560px;
    }
}

@media screen and (max-width: 768px) {
    header {
        padding: 0 20px;
    }

    header .container {
        margin: auto;
        max-width: 768;
    }

    header nav {
        padding-right: 40px;
    }

    .container {
        width: 100%;
        max-width: 768px;
    }

    content {
        width: 100%;
    }

    .imageContainer {
        width: 100%;
    }

    /* .images {
        margin-right: 0;
    } */
}

@media screen and (max-width: 640px) {

    /* .container {
        max-width: 535px;
    } */

    header {
        position: static;
        margin: 0;
        padding: 0;
    }

    header .container {
        height: 100%;
        margin: 0;
        position: relative;
    }

    .heading {
        margin: 0;
        padding: 0;
    }
    
    #logo {
        width: 100%;
        line-height: normal;
        height: 60%;
        padding: 0;
        float: none;
        margin: 0;
        display: block;
    }
    #Nav {
        width: 100%;
        clear: both;
        padding: 0;
        margin: 0 auto;
        text-align: center;
    }

    #contentHolder {
        padding: 20px;
    }

    .content {
        /* width: 100%; */
        margin-bottom: 20px;
        padding: 0 10px 10px;
    }

    .imageContainer {
        margin: 0;
        width: 100%;
        padding: 3px 3px 0 3px;
    }

    .images {
        width: calc(100% - 6px); /* Aesthetic purposes */
        height: calc(50vw);
        max-width: none;
        margin: 0 0 30px 0;
    }
    
    .images img {
        height: 125%;
        bottom: 0;
    }
}